body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

p{
  color: #000000;
}

h3{
  font-size: 16px;
  font-weight: bold;
  color: #323232;
}

p.lead{
  font-size: 16px;
  color: #323232;
}

h3.lead{
  font-size: 21px;
  color: #000000;
}
